button {
  border-radius: 5px;
}
.size-small {
  height: 25px;
  width: 75px;
}

.size-medium {
  height: 30px;
  width: 100px;
}

.size-large {
  height: 42px;
  width: 125px;
}

.button-primary {
  background: pink;
}
.button-secondary {
  background: skyblue;
}
